body {
  margin: 0;
}

.continer-1 {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  text-align: center;
}

.box-1 {
  border: 2px solid black;
  background-color: aqua;
  grid-area: 2 / 1 / 7 / 3;
}

.box-2 {
  border: 2px solid black;
  grid-area: 1 / 2 / 3 / 4;
  background-color: rgba(255, 0, 0, 0.5);
}
.box-3 {
  border: 2px solid black;
  height: 100px;
}
.box-4 {
  border: 2px solid black;
  height: 100px;
}
.box-5 {
  border: 2px solid black;
  height: 100px;
}
.box-6 {
  border: 2px solid black;
  height: 100px;
}
.box-7 {
  border: 2px solid black;
  height: 100px;
}
