body {
  margin: 0;
}

.continer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  gap: 5px;
  /* margin: 4rem;
  padding: 2rem; */
}

header {
  background-image: url("https://gridbyexample.com/img/inflicted.png");
  border: 2px solid;
  justify-content: right;
}
.div {
  /* border: 2px solid;  */
  display: flex;
  justify-content: right;
}

.href {
  margin: 1rem;
  border: 2px solid black;
  background-color: rgb(31, 29, 29);
  border-radius: 10px;
  color: white;
}

.ar {
  color: white;
  margin: 3rem;
}

nav {
  border: 2px solid black;
  background-color:#ffffff99;
  display: flex;
  justify-content: space-around;
}

.box {
  padding: 1rem;
  margin: 0.5rem;
}
.box-1 {
  background-image: url("https://gridbyexample.com/img/inflicted.png");
  border: 1px solid;
  grid-column: 1/6;
  color: white;
}

.box-2 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 6/8;
}
.box-3 {
  border: 1px solid;
  grid-column: 1/8;
  background-color: #5e35b1;
  color: white;
}
.box-4 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 1/4;
}
.box-5 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 4/8;
}
.box-6 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 1/6;
}
.box-7 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 6/8;
}
.box-8 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 1/4;
}
.box-9 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 4/6;
}
.box-10 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 6/8;
}
.box-11 {
  background-image: url("https://gridbyexample.com/img/tiny_grid.png");
  border: 1px solid;
  grid-column: 1/8;
}
