body {
  background-color: #f4f4f4;
  padding: 4rem;
}
.parent {
  display: grid;
  grid-template-areas:
    ". nav nav nav nav ."
    ". aside main main main ."
    ". aside main main main ."
    ". footer footer footer footer .";
  grid-template-rows: 100px 350px 350px 100px;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 5px;
  gap: 1rem;
}

.nav {
  border: 2px solid;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 1rem;

  color: white;
  border-radius: 10px;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}

.aside {
  border: 2px solid;
  grid-area: aside;
  background-color: #34495e;
  border-radius: 10px;
}

.aside h1 {
  margin-left: 2rem;
  color: white;
}
.colum {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  padding: 1rem;
}

.colum a {
  margin: 1rem;
  /* border: 2px solid; */
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.main {
  background-color: white;
  grid-area: main;
  border-radius: 10px;
  padding: 1rem;
}

.main article {
  padding: 0.5rem;
}

.main article h2 {
  color: #3498db;
}

.footer {
  background-color: #2c3e50;
  border: 2px solid;
  grid-area: footer;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}



.header{
   border: 2px solid white;
  align-items: center;
  color: #2c3e50;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 1re;
  margin-top: 1rem;
}


img{
width: 100%;
height: 100%;
object-fit: cover;
}
.contiiner{
  margin-top: 1rem;
  display: grid;
  border: 2px solid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  250px 250px 250px;

  gap: 5px;

}
 
.box-1{
  border: 2px solid;
  grid-column: 1/3;

}
.box-2{
  border: 2px solid;
  grid-column: 3/4;
}
.box-3{
  border: 2px solid;
  grid-column: 4/5;
  
}
.box-4{
  border: 2px solid;
  grid-column: 1/2;
  grid-row: 2/4;

  
}
.box-5{
  border: 2px solid;
  grid-column: 2/4;
  grid-row: 2/4;
  
}
.box-6{
  border: 2px solid;
  grid-column: 4/5;
  
}
.box-7{
  border: 2px solid;
  
}
.box-8{
  border: 2px solid;
  
}

 
@media (max-width: 600px) {
.contiiner {
grid-template-columns: 1fr;
grid-template-rows: auto;
}


.contiiner > div {
grid-column: auto;
grid-row: auto;
}
}