main {
  border: 2px solid;
  margin: 2rem;
  padding: 3rem;
}

.continer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
button {
  border: 2px solid;
  margin: 2rem;
  padding: 1rem;
  background-color: rgb(255, 225, 0);
  color: white;
  border-radius: 10px;
  transition: 0.5s ease-out;
}

.Translate:hover {
  transform: translate(12px, 50%);
  /* flex-grow: 0.2; */
  transition: 0.5s ease;
}

.Rotet:hover {
  transform: rotate(2turn);
  flex-grow: 0.2;

  transition: 0.5s ease-in-out;
}

.Scale:hover {
  transform: scale(2, 2);
  /* flex-grow: 0.2; */
  transition: 0.5s ease-out;
}

.Scale:active {
  transform: scale(1, 1);
  transition: 0.5s ease-out;
}
.Rotet:active {
  transform: rotate(1turn);
  /* flex-grow: 0.5; */

  transition: 10s ease-in-out;
}

.Translate:active {
  transform: translate(12px, 1%);
  /* flex-grow: 0.2; */
  transition: 0.5s ease;
}

@keyframes moveRight {
  0%,
  30%,
  60% {
    transform: scale(1);
  }
  15%,
  45% {
    transform: scale(0.8);
  }
}

.box {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 8rem;
  animation: moveRight 2s infinite linear;
}


